.id-card{    
    border: 1px solid black;
    padding: 2px 2px;
    margin: 10px 10px;
}

.card-flex{
    display:flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    /* justify-content: center; */
    padding: 10px 10px;
    gap:20px 

}
.imgSize{
    padding:18px 0px;
    width:200px;
    height:200px;
}